<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>{{ page.title }}</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
    <div class="main container container-fluid">
        <div class="row">
            <div class="span6 offset3">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>